.page-contianer{
    background-color: blue;
    text-align: center;
    align-items: center;
    align-content: center;
}

.center-container{
    text-align: center;
    background-color: gray;
  

}